doctype html
html
  head
    title Satoshing | Bitcoin Cash roulette
    meta(name='description', content='The Bitcoin roulette')
    meta(charser='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie-edge')
    html(xmlns='http://www.w3.org/1999/xhtml')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', media='screen and (max-width: 414px)', href='min417.css') 
    link(rel='stylesheet', media='screen and (min-width: 415px)', href='1920x1080.css')
      
    link(href='https://fonts.googleapis.com/css?family=Tauri', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro", rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
  body
    .container-12
      .row.total
        .col-3.one
          .blocks
            .spinner
            .spinner1
            .spinner2
            .box
              .block
                p.lasthash HASH
                p#hash.hashblockbox 
                p.lastheight HEIGHT
                p#height.height 
                p.tconfs CONFIRMATIONS
                p#confs.confs 
                p.tblocktime BLOCK TIME
                p#time0.blocktime.time0
                p#confs1.blocktime.confs1
                .blockback

            .spinner.spinner-1
              #winner
              .Text
                h1#bajada LAST BLOCK
            .spinner1.spinner1-1
              #winner1
              .Text
                h1#bajada PREVIOUS BLOCK
            .spinner2.spinner2-1
              #winner2
              .Text
                h1#bajada LAST CONFIRMED BLOCK
            .flechas
              .arrowleft
              .arrowright
        .col-6
          .col.uno
            table.logo
              tr
                td.negro
                td.negro
                td.negro
                td
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td
                td.negro
                td
                td.negro
                td
                td.negro
                td
                td
                td
                td.negro
                td.negro
                td.negro
              tr
                td.negro
                td
                td
                td
                td
                td
                td
                td.negro
                td
                td.negro
                td
                td.negro
                td.negro
                td
                td
                td.negro
                td
                td.negro
                td
                td
                td.negro
                td.negro
                td.negro
                td.negro
                td
                td.negro
              tr
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td
                td.negro
                td
                td.negro
                td
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td
                td.negro
                td.negro
                td
                td.negro
                td.negro
                td.negro
                td.negro
              tr
                td
                td
                td
                td.negro
                td
                td.negro
                td
                td.negro
                td
                td.negro
                td
                td.negro
                td
                td
                td.negro
                td
                td
                td
                td
                td.negro
                td.negro
                td
                td.negro
                td
                td
                td.negro
              tr
                td
                td
                td.negro
                td.negro
                td
                td.negro
                td
                td.negro
                td
                td.negro
                td.negro
                td.negro
                td.negro
                td.negro
                td
                td.negro
                td
                td.negro
                td
                td.negro
                td.negro
                td
                td.negro
                td
                td.negro
                td.negro
              tr
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td
                td


          .welcome
            p#welcome.wel WELCOME TO SATOSHING...
            span.flecha &#10142;
            span.flecha1 &#10142;
            span.flecha2 &#10142;
            span.flecha3 &#10142;
            span.flecha4 &#x2713;

          .sel
            p SELECT UP TO 8 DIGITS
    


          .alerta0
            .alerta1
              p
                | WHEN YOU PLAY THIS COMBINATION THE DIGIT (0) 
                | IS OUT OF THE GAME
                br
                |  MEANING THAT IF (0)
                | IS THE LAST DIGIT OF THE BLOCKHASH YOU WILL GET YOUR BET BACK
                br

          .alerta8
            .alerta1
              p
                | WHEN YOU PLAY THIS COMBINATION THE DIGIT (8) 
                | IS OUT OF THE GAME
                br
                |  MEANING THAT IF (8)
                | IS THE LAST DIGIT OF THE BLOCKHASH YOU WILL GET YOUR BET BACK
                br


          .alert1
            .alert
              p.bch BITCOIN CASH (BCH) ONLY
              p.xxx
                | PRICES WILL BE PAID ON ADDRESS THE BET WAS MADE FROM. DO NOT BET DIRECTLY 
                br
                |  FROM EXCHANGES, ONLINE WALLETS OR ANY OTHER WALLET YOU DON'T CONTROL THE PRIVATE KEYS
                br
              p.zzz MINIMUM BET : 0.0001 BCH  |  MAXIMUM BET : 0.01 BCH
        .row.button.justify-content-center
          p.text-center.bety
            span#address BET!
        .col-3.two
          .left
            
            .search
              .tx
                .tittle
                  p INCOMING BETS
                .tiones#tiones





                .transa
                  .ihash
                  .hashtitle
                    p BET
                  .hashdata 
                    p &nbsp;
                  .iblock
                  .hashblocktittle
                    p BLOCK
                  .blockhashdata 
                    p &nbsp;
                  .cuartafila
                    .ticketa 
                      p TICKET
                    .numbers
                      p &nbsp;
                    .amount
                      p AMOUNT
                    .amountdata
                      p &nbsp;
                    .prize
                      p PRIZE
                    .prizenumbers
                      p &nbsp;
                  .istatus
                  .status.click 
                    p PAID
                  .pago.click 
                    p &nbsp;
            



            .barra
              input(
              type='text'
              autocomplete="off",
              placeholder="TRACK YOUR BET HASH..."
              spellcheck="false"
              )
            .totalb
              .totalbets TOTAL WAGERED
              .cifra#wagered
            .totalw
              .totalbets TOTAL BETS
              .cifra#totalbets 


    .details
      .ticket.one
        p#numeros1
      .ticket.two
        p#numeros2
      .ticket.three
        p#numeros3
      .ticket.four
        p#numeros4
      .ticket.five
        p#numeros5
      .ticket.six
        p#numeros6 
      .ticket.seven
        p#numeros7
      .ticket.eight
        p#numeros8 

      .pozo
        p#spanoferta

      .dtlsinfo 
        p If any of the digits on grey above match the last digit of the block hash on which your bet is included, you will get the amount of your bet multiplied by the factor.
      .thisis
        p THIS IS YOUR TICKET

    .row.mesa
      .col.juego
        #qr.mx-auto
    .row.mesa
      .col.juego
        #exit.mx-auto
          #volver.switch.p1
            span.espan1 PLAY AGAIN
          #legacy.switch.p2
            #format.espan2 LEGACY FORMAT
          #copy.switch.p3
            span.espan2 COPY TO CLIPBOARD
    .row.mesa
      .col.juego
        table.mesa
          tr
            th(rowspan='4', colspan='2')
            td.color.neutro.mesa.cero(rowspan='4', colspan='21')
              .bur2.mesa 0
          tr
          tr
          tr
          tr
            th.bet.red.lado(rowspan='10')
              span 1 to 1
            th.bet.rotate.lin1.lado(rowspan='4')
              span 4 to 1 
            td.nocolor.color1.lin1.col1.mesa.odd.uno(rowspan='4', colspan='7') 
              .bur.mesa.linea1.columna1 1
            td.nocolor.color2.lin1.col2.mesa.even.dos(rowspan='4', colspan='7')
              .bur.mesa.linea1.columna2 2
            td.nocolor.color1.lin1.col3.mesa.odd.tres(rowspan='4', colspan='7')
              .bur.mesa.linea1.columna3 3
          tr
          tr
          tr
          tr
            th.bet.rotate.lin2.lado(rowspan='4')
              span 4 to 1 
            td.nocolor.color2.lin2.col1.mesa.even.cuatro(rowspan='4', colspan='7')
              .bur.mesa.linea2.columna1 4
            td.nocolor.color1.lin2.col2.mesa.odd.cinco(rowspan='4', colspan='7')
              .bur.mesa.linea2.columna2 5
            td.nocolor.color2.lin2.col3.mesa.even.seis(rowspan='4', colspan='7')
              .bur.mesa.linea2.columna3 6
          tr
          tr
          tr
          tr
            th.bet.rotate.lin3.lado(rowspan='4')
              span 4 to 1  
            td.nocolor.color1.lin3.col1.mesa.odd.siete(rowspan='4', colspan='7')
              .bur.mesa.linea3.columna1 7
            td.color.neutro.lin3.col2.mesa.ocho(rowspan='4', colspan='7')
              .bur3.mesa.linea3.columna2 8
            td.nocolor.color2.lin3.col3.mesa.even.nueve(rowspan='4', colspan='7')
              .bur.mesa.linea3.columna3 9
          tr
          tr
            th.bet.black.lado(rowspan='10')
              span 1 to 1
          tr
          tr
            th.bet.rotate.lin4.lado(rowspan='4')
              span 4 to 1 
            td.nocolor.color2.lin4.col1.mesa.even.a(rowspan='4', colspan='7') 
              .bur.mini.mesa.linea4.columna1 
                .p a
            td.nocolor.color1.lin4.col2.mesa.odd.b(rowspan='4', colspan='7')
              .bur.mesa.linea4.columna2 b
            td.nocolor.color2.lin4.col3.mesa.even.c(rowspan='4', colspan='7')
              .bur.mini.mesa.linea4.columna3
                .p c
          tr
          tr
          tr
          tr
            th.bet.rotate.lin5.lado(rowspan='4')
              span 4 to 1 
            td.nocolor.color1.lin5.col1.mesa.odd.d(rowspan='4', colspan='7')
              .bur.mesa.linea5.columna1 d
            td.nocolor.color2.lin5.col2.mesa.even.e(rowspan='4', colspan='7')
              .bur.mini.mesa.linea5.columna2
                .p e
            td.nocolor.color1.lin5.col3.mesa.odd.f(rowspan='4', colspan='7')
              .bur.mesa.linea5.columna3 f
          tr
          tr
          tr
          tr.bet
            th.ran(colspan='2') R
            th.bet.col1(colspan='7')
              span 2 to 1 
            th.bet.col2(colspan='7')
              span 2 to 1 
            th.bet.col3(colspan='7')
              span 2 to 1 

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='script.js')
    script(src='js/qrcode.min.js')
    script(src='js/jquery-qrcode-0.14.0.min.js')
    script(src='js/bchaddrjs-0.2.1.min.js')
